{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">

                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control") }}

                <!-- esta parte habilita los validadores del formulario  SE IMPLEMENTARA EN UN FUTURO -->
{#                {% if form.username.errors %}#}
{#                    {{ form.username(class="form-control is-invalid") }}#}
{#                    <div class="invalid-feedback">#}
{#                        {% for error in form.username.errors %}#}
{#                            <span>{{ error }}</span>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% else %}#}
{#                    {{ form.username(class="form-control") }}#}
{#                {% endif %}#}
                <!-- fin de los validadores del formulario -->

                <div class="mb-3">

                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}


                </div>
                <div class="mb-3 form-check">

                    {{ form.remember_me(class="form-check-input") }}
                    {{ form.remember_me.label(class=("from-check-label")) }}


                </div>
                {{ form.submit(class=("btn btn-primary")) }}
            </div>
        </form>
    </div>


{% endblock %}