{% extends "base.html" %}
{% block content %}
    <div class="container">

        <h2>Register New User</h2>

        <form action="" method="post">
            {{ form.hidden_tag() }}

            <div class="mb-3">

                {{ form.username.label(class="form-control-label") }}

                <!-- esta parte habilita los validadores del formulario   -->
                {% if form.username.errors %}
                    {{ form.username(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control") }}
                {% endif %}
                <!-- fin de los validadores del formulario -->


                <div class="mb-3">

                    {{ form.email.label(class="form-label") }}

                    <!-- esta parte habilita los validadores del formulario   -->
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
                    <!-- fin de los validadores del formulario -->


                </div>
                <div class="mb-3">

                    {{ form.password.label(class="form-label") }}

                    <!-- esta parte habilita los validadores del formulario   -->
                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control") }}
                    {% endif %}
                    <!-- fin de los validadores del formulario -->


                </div>

                <div class="mb-3">

                    {{ form.password2.label(class="form-label") }}

                    <!-- esta parte habilita los validadores del formulario   -->
                    {% if form.password2.errors %}
                        {{ form.password2(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password2(class="form-control") }}
                    {% endif %}
                    <!-- fin de los validadores del formulario -->


                </div>


                {{ form.submit(class=("btn btn-primary")) }}
            </div>


        </form>
    

    </div>

{% endblock %}